/* Header */
.header {
    box-shadow: 0 1px 3px 0 rgb(0 0 0/10%);
    position: sticky;
    z-index: 1;
    top: 0;
    /* background-image: url(../images/bg_header.png); */
    background-color: var(--color-one);
}

.header .inner-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.header .inner-logo img {
    height: 48px;
    width: auto;
}

.header .inner-logo .inner-name {
    color: var(--color-text);
    font-size: 24px;
    margin-left: 12px;
    font-weight: 600;
}

.header .inner-main .inner-menu ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

.header .inner-main .inner-menu ul li {
    margin-left: 15px;
    margin-right: 15px;
}

.header .inner-main .inner-menu ul li:first-child {
    text-decoration: underline;
}

.header .inner-main .inner-menu ul li a {
    color: var(--color-text);
    font-size: 16px;
    font-weight: 500;
}

.header .inner-main .inner-menu ul li:hover a {
    text-decoration: underline;
}

.header .inner-main .short-menu {
    display: none;
}

/* End Header  */

/* Register  */
.register {
    padding: 60px 0;
}

.form {
    width: 550px;
    border-radius: 10px;
    padding: 20px 40px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-size: 36px;
    font-weight: 700;
    color: #192335;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
}

.form input {
    width: 100%;
    height: 60px;
    border: 0;
    background-color: #F5F5F5;
    margin-bottom: 30px;
    padding: 10px 20px;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
}

.form input[type="checkbox"] {
    width: auto;
    height: auto;
}

.form button {
    width: 100%;
    height: 60px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    background-color: var(--color-two);
    border: 0;
    border-radius: 8px;
}

.form button:hover {
    background-color: var(--color-text);
}

/* End Register  */

/* Footer  */
.footer {
    background-color: #FF5757;
    padding: 80px 0;
}

.footer .inner-main {
    justify-content: space-between;
    align-items: center;
}

.footer .inner-main .item-left {
    width: auto;
}

.footer .inner-main .item-left ul {
    display: flex;
    padding: 0;
}

.footer .inner-main .item-left ul li {
    list-style-type: none;
    margin-right: 16px;
}

.footer .inner-main .item-left ul li::before {
    content: "•";
    padding-right: 3px;
    color: var(--color-one);
}

.footer .inner-main .item-left ul li a {
    color: var(--color-one);
    font-size: 16px;
    font-weight: 300;
}

.footer .inner-main .item-left ul li:hover a {
    text-decoration: underline;
}

.footer .inner-main .item-left .item-desc {
    color: var(--color-one);
    font-weight: 300;
    font-size: 16px;
    opacity: 0.8;
}

.footer .inner-main .item-right {
    width: 150px;
}

.footer .inner-main .item-right img {
    width: 100%;
    height: auto;
}

/* End Footer */