/* Header */
.header {
    box-shadow: 0 1px 3px 0 rgb(0 0 0/10%);
    position: sticky;
    z-index: 1;
    top: 0;
    /* background-image: url(../images/bg_header.png); */
    background-color: var(--color-one);
}

.header .inner-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.header .inner-logo img {
    height: 48px;
    width: auto;
}

.header .inner-logo .inner-name {
    color: var(--color-text);
    font-size: 24px;
    margin-left: 12px;
    font-weight: 600;
}

.header .inner-main .inner-menu ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

.header .inner-main .inner-menu ul li {
    margin-left: 15px;
    margin-right: 15px;
}

.header .inner-main .inner-menu ul li a {
    color: var(--color-text);
    font-size: 16px;
    font-weight: 500;
}

.header .inner-main .inner-menu ul li:hover a {
    text-decoration: underline;
}
.header .inner-main .short-menu{
    display: none;
}
/* End Header  */

/* Section One  */
.section-one {
    background-color: var(--color-three);
    padding-top: 100px;
}

.section-one .inner-main {
    justify-content: space-between;
    align-items: center;
}

.section-one .inner-text .inner-desc {
    font-size: 38px;
    line-height: 52px;
    opacity: 0.8;
}

.section-one .inner-text .inner-title {
    font-size: 56px;
    font-weight: 600;
    line-height: 67px;
    margin-top: 19px;
    letter-spacing: -1.68px;
}

.section-one .inner-image {
    margin: 30px 0;
    width: 400px;
    height: auto;
}

.section-one .inner-image img {
    width: 100%;
}

/* End Section One  */

/* Rank */
.rank {
    padding: 60px 0;
}

.rank .rank-list {
    align-items: center;
    justify-content: center;
}

.rank .rank-item {
    text-align: center;
    position: relative;
    display: inline-block;
    width: 186px;
    height: 110px;
    margin: 15px 30px;
    color: #1a1a1a;
    background: url(../images/bg_rank.png) no-repeat center 19px;
}

.rank .rank-item i {
    font-size: 28px;
}

.rank .rank-item p {
    font-size: 24px;
    margin: 0;
    font-weight: 600;
}

.rank .rank-item span {
    font-size: 18px;
    font-weight: 300;
}

/* End Rank  */

/* Section Two  */
.section-two .inner-list {
    padding: 60px 0;
    align-items: center;
    justify-content: center;
}

.section-two .inner-item {
    /* border: 1px solid #ccc; */
    border-radius: 12px;
    max-width: 337px;
    min-height: 272px;
    margin: 40px 20px;
    box-shadow: 0 10px 28px 0 hsla(210, 8%, 54%, .2);
}

.section-two .inner-item .item-symbol {
    text-align: center;
}

.section-two .inner-item .item-symbol i {
    font-size: 52px;
    color: #FF5757;
    margin-top: -50%;
    opacity: 0.8;
}

.section-two .inner-item .item-body {
    padding: 74px 35px 35px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.section-two .inner-item .item-title {
    color: var(--color-text);
    font-size: 18px;
    font-weight: 600;
}

.section-two .inner-item .item-desc {
    color: var(--color-text);
    opacity: 0.8;
    margin-top: 10px;
}

/* End Section Two  */

/* Footer  */
.footer {
    background-color: #FF5757;
    padding: 80px 0;
}
.footer .inner-main{
    justify-content: space-between;
    align-items: center;
}
.footer .inner-main .item-left {
    width: auto;
}

.footer .inner-main .item-left ul {
    display: flex;
    padding: 0;
}

.footer .inner-main .item-left ul li {
    list-style-type: none;
    margin-right: 16px;
}

.footer .inner-main .item-left ul li::before{
    content: "•"; 
    padding-right: 3px;
    color: var(--color-one);
}

.footer .inner-main .item-left ul li a {
    color: var(--color-one);
    font-size: 16px;
    font-weight: 300;
}

.footer .inner-main .item-left ul li:hover a{
    text-decoration: underline;
}
.footer .inner-main .item-left .item-desc{
    color: var(--color-one);
    font-weight: 300;
    font-size: 16px;
    opacity: 0.8;
}

.footer .inner-main .item-right{
    width: 150px;
}
.footer .inner-main .item-right img{
    width: 100%;
    height: auto;
}
/* End Footer */